.titulo {
    font-size: 45px;
    padding: auto;
    margin-top: 10px;
}

.iconocarrito {
    height: 25px;
}

.iconotrash{
    height: 25px;
}

.iconoplus{
    height: 25px;
}

.contenedorFlex {
    width: 100%;
    height: 50px;
    /* margin: 50px auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 20px;
}

#lista {
    list-style: none;
    font-size: 17px;
    justify-content: center;
}

.p-2 {
    margin-left: 0px;
}
